extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Flash Sale | Merge',
    }

block append scripts

block modal

block content
  .main-visual(style="--bg-desktop:url('/src/images/flashsale/img-mv-signature-jeans-pc.webp'); --bg-mobile:url('/src/images/flashsale/img-mv-signature-jeans-sp.webp')")
    h1.main-visual__heading
      span SIGNATURE JEANS
      span.main-visual__heading-sub Collection
    a.main-visual__button(href="/collection/") DISCOVER
  // /.main-visual

  .sec-flash-sale
    .sec-flash-sale__inner
      +img.sec-flash-sale__title(src="/src/images/common/text-flash-sale.svg" alt="FLASH SALE")
      - const endTime = new Date(new Date().setDate(new Date().getDate() + 1)).toISOString();
      .sec-flash-sale__time.js-countdown(data-end-time=endTime)
        .sec-flash-sale__rollers
          .sec-flash-sale__roller.sec-flash-sale__roller--hour
            .sec-flash-sale__digit.js-h-tens
              each i in Array.from({ length: 10 }, (_, i) => i).concat(0).reverse()
                span= i
            .sec-flash-sale__digit.js-h-ones
              each i in Array.from({ length: 10 }, (_, i) => i).concat(0).reverse()
                span= i
          p.sec-flash-sale__unit.sec-flash-sale__unit--hour Hour
        .sec-flash-sale__colon
        .sec-flash-sale__rollers
          .sec-flash-sale__roller
            .sec-flash-sale__digit.js-m-tens
              each i in Array.from({ length: 6 }, (_, i) => i).concat(0).reverse()
                span= i
            .sec-flash-sale__digit.js-m-ones
              each i in Array.from({ length: 10 }, (_, i) => i).concat(0).reverse()
                span= i
          p.sec-flash-sale__unit Min
        .sec-flash-sale__colon
        .sec-flash-sale__rollers
          .sec-flash-sale__roller
            .sec-flash-sale__digit.js-s-tens
              each i in Array.from({ length: 6 }, (_, i) => i).concat(0).reverse()
                span= i
            .sec-flash-sale__digit.js-s-ones
              each i in Array.from({ length: 10 }, (_, i) => i).concat(0).reverse()
                span= i
          p.sec-flash-sale__unit Sec
  // .sec-flash-sale

  .list-product
    ul.list-product__list
      each i in Array(3)
        li
          .card-product
            a.card-product__link(href="#" aria-label="View ARI TIE CROP TOP")
            p.card-product__discount -30% OFF
            figure.card-product__image
              +img(src="/src/images/flashsale/img-flashsale-01.webp" alt="ARI TIE CROP TOP")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name ARI TIE CROP TOP
              .card-product__price
                del.card-product__price-old THB 1,500
                ins.card-product__price-new THB 1,133
        li
          .card-product
            a.card-product__link(href="#" aria-label="View MAGNETIC BLUE")
            p.card-product__discount -30% OFF
            figure.card-product__image
              +img(src="/src/images/flashsale/img-flashsale-02.webp" alt="MAGNETIC BLUE")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name MAGNETIC BLUE
              .card-product__price
                del.card-product__price-old THB 1,500
                ins.card-product__price-new THB 1,133
        li
          .card-product
            a.card-product__link(href="#" aria-label="View NIKKI SHORTS DENIM BLUE")
            p.card-product__discount -30% OFF
            figure.card-product__image
              +img(src="/src/images/flashsale/img-flashsale-03.webp" alt="NIKKI SHORTS DENIM BLUE")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name NIKKI SHORTS DENIM BLUE
              .card-product__price
                del.card-product__price-old THB 1,500
                ins.card-product__price-new THB 1,133
        li
          .card-product
            a.card-product__link(href="#" aria-label="View SIGNATURE JEANS BLUE")
            p.card-product__discount -30% OFF
            figure.card-product__image
              +img(src="/src/images/flashsale/img-flashsale-04.webp" alt="SIGNATURE JEANS BLUE")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name SIGNATURE JEANS BLUE
              .card-product__price
                del.card-product__price-old THB 1,500
                ins.card-product__price-new THB 1,133
        li
          .card-product
            a.card-product__link(href="#" aria-label="View ARI TIE CROP TOP")
            p.card-product__discount -30% OFF
            figure.card-product__image
              +img(src="/src/images/flashsale/img-flashsale-01.webp" alt="ARI TIE CROP TOP")
            .card-product__info
              label.card-product__favorite(aria-label="Add to favorite")
                input(type="checkbox" name="favorite" value="")
                span.card-product__favorite-icon
              p.card-product__name ARI TIE CROP TOP
              .card-product__price
                del.card-product__price-old THB 1,500
                ins.card-product__price-new THB 1,133
  // /.list-product

  include /src/components/_loader-icon.pug
