extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'Add Delivery Address | MERGE',
    }

block append scripts

block modal
  include /src/components/modal/_modal-close-process.pug

block content
  header.header-bar
    .header-bar__container
      h1.header-bar__page-title ADD DELIVERY ADDRESS
      a.header-bar__btn-back(href="/cart/" aria-label="Back")
      button.header-bar__btn-close(aria-label="Close" data-modal-open="#modal-close-process")
  main.main-full
    .main-full__body
      form.form-layout(novalidate)
        fieldset
          legend Address name
          .form-layout__field.is-error.js-input-fill
            label(for="addressName") Address name
            input.form-input-text(
              type="text"
              id="addressName"
              name="addressName"
              value=""
              required
            )
            p.form-layout__error The field Address name is a mandatory field.
        fieldset
          legend Contact info
          .form-layout__field.is-error.js-input-fill
            label(for="firstName") First name
            input.form-input-text(
              type="text"
              id="firstName"
              name="firstName"
              value=""
              required
            )
            p.form-layout__error The field First name is a mandatory field.
          .form-layout__field.is-error.js-input-fill
            label(for="lastName") Last name
            input.form-input-text(
              type="text"
              id="lastName"
              name="lastName"
              value=""
              required
            )
            p.form-layout__error The field Last name is a mandatory field.
          .form-layout__field.is-error.js-input-fill
            label(for="tel") Tel.
            input.form-input-text(
              type="tel"
              id="tel"
              name="tel"
              value=""
              required
            )
            p.form-layout__error The field Telephone No. is a mandatory field.
          .form-layout__field.is-error.js-input-fill
            label(for="email") Email
            input.form-input-text(
              type="email"
              id="email"
              name="email"
              value=""
              required
            )
            p.form-layout__error The email address is a mandatory field.
        fieldset
          legend Address info
          .form-layout__field.is-dropdown.is-fill
            label(for="country") Country
            .form-custom-dropdown
              select.js-custom-dropdown(id="country" name="country" data-country="true")
                option(value="Thailand") Thailand
                option(value="Afghanistan") Afghanistan
                option(value="Albania") Albania
                option(value="Algeria") Algeria
                option(value="Andorra") Andorra
                option(value="Angola") Angola
                option(value="Antigua and Barbuda") Antigua and Barbuda
                option(value="Argentina") Argentina
          .form-layout__field.is-dropdown.is-fill.is-error
            label(for="province") Province
            .form-custom-dropdown
              select.js-custom-dropdown(id="province" name="province" data-placeholder="Please select")
                option(value="")
                option(value="Amnat Charoen") Amnat Charoen
                option(value="Ang Thong") Ang Thong
                option(value="Bangkok") Bangkok
                option(value="Bueng Kan") Bueng Kan
                option(value="Buri Ram") Buri Ram
                option(value="Chachoengsao") Chachoengsao
                option(value="Chai Nat") Chai Nat
            p.form-layout__error The province is a mandatory field.
          .form-layout__field.is-error.js-input-fill
            label(for="district") District
            input.form-input-text(
              type="text"
              id="district"
              name="district"
              value=""
              required
            )
            p.form-layout__error The field District is a mandatory field.
          .form-layout__field.is-error.js-input-fill
            label(for="subDistrict") Sub-District
            input.form-input-text(
              type="text"
              id="subDistrict"
              name="subDistrict"
              value=""
              required
            )
            p.form-layout__error The field Sub-District is a mandatory field.
          .form-layout__field.js-input-fill
            label(for="address1") Address 1
            input.form-input-text(
              type="text"
              id="address1"
              name="address1"
              value=""
              required
            )
            p.form-layout__error The field Address 1 is a mandatory field.
          .form-layout__field.is-error.js-input-fill
            label(for="address2") Address 2
            input.form-input-text(
              type="text"
              id="address2"
              name="address2"
              value=""
              required
            )
            p.form-layout__error The field Address 2 is a mandatory field.
          .form-layout__field.is-error.js-input-fill
            label(for="postcode") Post Code
            input.form-input-text(
              type="text"
              id="postcode"
              name="postcode"
              value=""
              required
            )
            p.form-layout__error The post code is a mandatory field.
    .main-full__footer
      button.btn-rounded SAVE
      ul.breadcrumb-checkout
        li CHECK OUT
        li ADD DELIVERY ADDRESS
