extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'Coupon | MERGE',
    }

block append scripts

block modal

block content
  main.main-fit
    .main-fit__body
      .header-bar
        h1.header-bar__page-title COUPON
        a.header-bar__btn-back(href="/cart/" aria-label="Back")

      .box-coupon-search
        form.box-coupon-search__form(method="post" action="/coupon/")
          label.box-coupon-search__input(
            x-data="{ isActive: false }"
            x-bind:class="isActive ? 'is-active' : ''"
          )
            input(
              type="text"
              name="coupon"
              placeholder="Enter coupon code here"
              value="ABC"
              x-on:focus="isActive = true"
              x-on:blur="isActive = false"
            )
          button.box-coupon-search__button Search
        p.box-coupon-search__notice The discount code you entered is incorrect
    .main-fit__footer
      button.btn-primary(disabled) USE COUPON
