extends /src/layouts/_master

block variables
  -
    const meta = {
      title: 'Merge',
    }

block append scripts

block modal

block content
  section.hero
    figure.hero__image
      picture
        source(media="(min-width:992px)" srcset="/src/images/home/img-hero-merge-sabina-pc.jpg")
        +img(src="/src/images/home/img-hero-merge-sabina-sp.jpg" alt="")
    h1.hero__heading
      span MERGE X SABINA
      span.hero__heading-sub Collection
    a.hero__button(href="#") DISCOVER
    .hero__marquee
      .splide.js-marquee-slider
        .splide__track
          .splide__list
            .splide__slide
              .hero__marquee-text
                p: span 30 DAYS TO RETURN
                p //  Shop safely from home via #[span LINE @MERGE]
  // /.hero

  section.sec-product-slider.js-product-slider
    .splide
      .splide__track
        .splide__list
          each i in Array(4)
            .splide__slide
              .card-product
                a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
                figure.card-product__image
                  +img(src="/src/images/products/img-product-01.jpg" alt="CORA PLUNGE BRALETTE")
                .card-product__info
                  label.card-product__favorite(aria-label="Add to favorite")
                    input(type="checkbox" name="favorite" value="")
                    span.card-product__favorite-icon
                  h2.card-product__name CORA PLUNGE BRALETTE
                  .card-product__price
                    p.card-product__price-normal THB 1,500
            .splide__slide
              .card-product
                a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
                figure.card-product__image
                  +img(src="/src/images/products/img-product-02.jpg" alt="CORA PLUNGE BRALETTE")
                .card-product__info
                  label.card-product__favorite(aria-label="Add to favorite")
                    input(type="checkbox" name="favorite" value="")
                    span.card-product__favorite-icon
                  h2.card-product__name CORA PLUNGE BRALETTE
                  .card-product__price
                    p.card-product__price-normal THB 1,500
  // /sec-product-slider

  .sec-flash-sale
    .sec-flash-sale__inner
      +img.sec-flash-sale__title(src="/src/images/common/text-flash-sale.svg" alt="FLASH SALE")
      - const endTime = new Date(new Date().setDate(new Date().getDate() + 1)).toISOString();
      .sec-flash-sale__time.js-countdown(data-end-time="2024-12-27T00:10:28.107Z")
        .sec-flash-sale__rollers
          .sec-flash-sale__roller.sec-flash-sale__roller--hour
            .sec-flash-sale__digit.js-h-tens
              each i in Array.from({ length: 10 }, (_, i) => i).concat(0).reverse()
                span= i
            .sec-flash-sale__digit.js-h-ones
              each i in Array.from({ length: 10 }, (_, i) => i).concat(0).reverse()
                span= i
          p.sec-flash-sale__unit.sec-flash-sale__unit--hour Hour
        .sec-flash-sale__colon
        .sec-flash-sale__rollers
          .sec-flash-sale__roller
            .sec-flash-sale__digit.js-m-tens
              each i in Array.from({ length: 6 }, (_, i) => i).concat(0).reverse()
                span= i
            .sec-flash-sale__digit.js-m-ones
              each i in Array.from({ length: 10 }, (_, i) => i).concat(0).reverse()
                span= i
          p.sec-flash-sale__unit Min
        .sec-flash-sale__colon
        .sec-flash-sale__rollers
          .sec-flash-sale__roller
            .sec-flash-sale__digit.js-s-tens
              each i in Array.from({ length: 6 }, (_, i) => i).concat(0).reverse()
                span= i
            .sec-flash-sale__digit.js-s-ones
              each i in Array.from({ length: 10 }, (_, i) => i).concat(0).reverse()
                span= i
          p.sec-flash-sale__unit Sec

  // .sec-flash-sale

  section.sec-product-slider.js-product-slider
    .splide
      .splide__track
        .splide__list
          each i in Array(4)
            .splide__slide
              .card-product
                a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
                figure.card-product__image
                  +img(src="/src/images/products/img-product-01.jpg" alt="CORA PLUNGE BRALETTE")
                .card-product__info
                  label.card-product__favorite(aria-label="Add to favorite")
                    input(type="checkbox" name="favorite" value="")
                    span.card-product__favorite-icon
                  h2.card-product__name CORA PLUNGE BRALETTE
                  .card-product__price
                    p.card-product__price-normal THB 1,500
            .splide__slide
              .card-product
                a.card-product__link(href="#" aria-label="View CORA PLUNGE BRALETTE")
                figure.card-product__image
                  +img(src="/src/images/products/img-product-02.jpg" alt="CORA PLUNGE BRALETTE")
                .card-product__info
                  label.card-product__favorite(aria-label="Add to favorite")
                    input(type="checkbox" name="favorite" value="")
                    span.card-product__favorite-icon
                  h2.card-product__name CORA PLUNGE BRALETTE
                  .card-product__price
                    p.card-product__price-normal THB 1,500
  // /sec-product-slider
