extends /src/layouts/_no-header-footer

block variables
  -
    const meta = {
      title: 'Job Apply | MERGE',
    }

block append scripts

block modal
  .modal#modal-contact(aria-hidden="false")
    .modal__container
      .modal__inner
        .modal-process
          button.modal-process__btn-close.js-modal-close(aria-label="Close")
          +img(src="/src/images/common/img-contact-success.svg" class="mb-2" alt="")
          p.title-sm(class="mb-2") Thank You for Reaching Out!
          p Your message has been successfully submitted. We truly appreciate your interest and will get back to you as soon as possible. If your inquiry is urgent, feel free to contact us directly via cs@mergeofficial.co
          .modal-process__button
            button.btn-primary.is-outline.js-modal-close CLOSE

block content
  include /src/components/_header.pug

  main.main-full
    .main-full__body
      a.btn-back-sm(href="/career/")
        +img(src="/src/images/common/ico-arrow-left-black.svg" alt="")
        span back
      h1.page-title.page-title--line-y(class="mb-8") Marketing &amp; PR Executive
      form.form-layout(novalidate)
        fieldset
          .form-layout__field.is-fill
            label(for="position") Position
            input.form-input-text(
              type="text"
              id="position"
              name="position"
              value="Marketing & PR Executive"
              readonly
            )
          .form-layout__field.js-input-fill
            label(for="firstName") First name
            input.form-input-text(
              type="text"
              id="firstName"
              name="firstName"
              value=""
              required
            )
          .form-layout__field.js-input-fill
            label(for="lastName") Last name
            input.form-input-text(
              type="text"
              id="lastName"
              name="lastName"
              value=""
              required
            )
          .form-layout__tel-code
            .form-layout__field.is-fill
              label Tel.
              .form-selectbox-icon
                .form-selectbox-icon__text
                  +img(src="/src/images/flag/thailand.svg" alt="")
                  span +66
            .form-layout__field.js-input-fill
              input.form-input-text(
                type="tel"
                id="tel"
                name="tel"
                value=""
                required
              )
          .form-layout__field.js-input-fill
            label(for="email") Email
            input.form-input-text(
              type="email"
              id="email"
              name="email"
              value=""
              required
            )
          .form-layout__field.is-upload
            label Upload Image Or Video
            .form-upload
              .form-upload__field
                input(type="file" name="resume")
                .form-upload__text
                  +img(src="/src/images/common/ico-file.svg" alt="")
                  p Choose Files
                  p.form-upload__note File types .docs .docx .pdf .txt and .rif (2MB limit)
          .form-layout__field.is-upload
            label Portfolio (Optional)
            .form-upload
              .form-upload__field
                input(type="file" name="portfolio")
                .form-upload__text
                  +img(src="/src/images/common/ico-file.svg" alt="")
                  p Choose Files
                  p.form-upload__note File types .docs .docx .pdf .txt and .rif (2MB limit)
          .form-layout__field.js-input-fill
            label(for="salary") Expected Salary (Optional)
            input.form-input-text(
              type="text"
              id="salary"
              name="salary"
              value=""
            )
          .form-layout__field.js-input-fill
            label(for="notice") Notice Period (Optional)
            input.form-input-text(
              type="text"
              id="notice"
              name="notice"
              value=""
            )
          .form-layout__field.is-fill
            label(for="pitch") Pitch (Optional)
            textarea.form-textarea(
              id="pitch"
              name="pitch"
              placeholder="Introduce yourself and tell us what you do"
            )

    .main-full__footer
      button.btn-primary.is-rounded.bg-blue SUBMIT
